body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(205, 181, 151);
}
h1 {
  background-color: rgb(61, 45, 45);
  color: rgb(152, 47, 250);
  align-items: center;
  justify-content: center;
  display: flex;
}
p {
  padding: 22px;
  font-weight: bold;
  margin-top: 70px 40px 70px 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  background-color: rgb(237, 240, 43);
  color: rgb(43, 37, 37);
  font-weight: bold;
  padding: 7px;
  border-radius: 22px;
  border-color: rgb(161, 50, 50);
  border-width: 5px;
}
.intro {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: rgb(121, 243, 40);
}
.image-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.color-gif {
  display: flex;
  align-items: center;
  justify-content: center;
}
